.ptn{
    font-size: 25px;
    padding:5px;
    margin-left: 25px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


html{
    font-family: 'Fjalla One', sans-serif;
    background: url("fondo.jpg");
}

.btn{
    font-size: 25px;
    border: 0px;
    font-family: 'Fjalla One', sans-serif;
    width: 175px;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    transition: transform .2s;
    color:white;
    border:1px solid white;
    margin-left: 25px;
    margin-right: 25px;
}

.btn:hover{
    transform: scale(1.3); 
}

#areaMesa {
    padding:10px;
}

#areaContrincante {
   height:25%;
   border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#areaJugador {
   height:25%;
}

.punteo{
    color:white;
    text-align:start;
    padding-top: 15px;
    padding-bottom: 15px;
}

.areaCartas {
    padding-top: 5px;
    height:150px;	  
} 

#areaBotones{
    height:100px;
}

.carta {
    width:70px;
    height:95px;
    background:url(http://www.qbasicnews.com/dav/files/cards.png);
    display:inline-block;
}

.perdio {
    color:red;
}

.total{
    padding-left:80%;
}

.marcador{
    background: rgba(0, 0, 0, 0.2);
    font-size: 80%;
    color:white;
    padding: 15px;
    margin-right: 5%;
}
.title{
    text-align: center;
    font-size: 25px;
    color:white;
    padding: 5px;
    margin-right: 5%;
    background: rgba(0, 0, 0, 0.2)    
}